<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>

<h1>Khalifa Al Maslamani</h1>
<p>I was born and raised in Qatar.</p>

<style>
img {
    float: right;
    margin: 0 0 10px 10px;
}
</style>
</head>
<body>

<p>The example shown below demonstrates a floated element.</p>

<p><img src="wonder.gif" alt="Wonder Woman" width="200" height="200">
For over half a century, Wonder Woman’s mission has been to bring the Amazonian ideals of peace, love, and sexual equality to the man’s world. During that time, Wonder Woman has partially been adopted as a role model by the feminist movement since she is still a conflicted character. For example, there is a debate in regards to whether or not the United Nations is set to appoint Wonder Woman its honorary ambassador for the empowerment of women and girls. However, some people have pointed out that Wonder Woman tends to affirm negative stereotypes about women. Wonder Woman’s challenging of gender norms in terms of capability and strength are being reflected in today’s modern society as we anxiously await the disclosure of America’s next president. Wonder Woman’s criticism and iconic meaning is still relevant in todays world, as one of the oldest and most enduring characters, Wonder Woman will likely be entertaining and inspiring millions for centuries to come.</p>

<style> 
#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;    
}

</style>
</head>
<body>

<p>The example shown below show is a sentence with rounded border corners.</p>
<p id="rcorners1">Hello my name is Khalifa Al Maslamani! I am 19 years old.</p>

</body>
</html>